body {
    background-color: #0f0f0f;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top:0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #1f1f1f;
    padding: 10px 0;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #76e1ff;
    font-size: 0.8em;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ff4dda;
}

.welcome {
    text-align: center;
    padding: 50px;
}

.welcome h1 {
    font-size: 2.5em;
    color: #ff4dda;
    text-shadow: 0 0 10px #ff4dda, 0 0 20px #ff4dda;
}

.made-by h2 {
    font-size: 2em;
    color: #ff4dda;
    text-shadow: 0 0 10px #ff4dda, 0 0 20px #ff4dda;
}

.welcome p {
    font-family: "Playwrite GB S", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: #76e1ff;

}

input[type="text"] {
    width:18rem;
    padding: 10px;
    font-size: 1em;
    border: none;
/*     border-radius: 20px; */
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ff4dda;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff67a7;
}

#book-results {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    color: #76e1ff;
}

footer {
    position:relative;
    top:100px;
    text-align: center;
    padding: 10px 0;
    background-color: #1f1f1f;
    color: #76e1ff;
}
                       /* LOGIN PAGE */

#login-form{
    display: inline-block;
    padding:20px;
    width:300px;
    height:400px;
    outline: none;
    border:none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #ff4dda;/* 0 0 20px #ff4dda ; */
}
#login-email , #login-password{
    background-color: transparent;
    outline: none;
    border-top:2px solid #0f0f0f;
    border-left:2px solid #0f0f0f;
    border-right:2px solid #0f0f0f;
    border-bottom:2px solid #ff4dda ;
    width: 250px;
    height:30px;
    color:azure;

}
.button-login{
    outline: none;
    width:250px;
    margin :20px ;
    box-shadow: 0 0 10px #ff4dda, 0 0 20px #ff4dda;
}
.button-login:hover{
    scale: 1.05;

}
.button-login:active{
    scale: 0.95;

}
                                /* /* register page  */

#register-form{
    display: inline-block;
    padding:20px;
    width:300px;
    height:450px;
    outline: none;
    border:none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #ff4dda;
}
#reg-username , 
#reg-email ,
#reg-password ,
#reg-confirm-password{
    background-color: transparent;
    outline: none;
    border-top:2px solid #0f0f0f;
    border-left:2px solid #0f0f0f;
    border-right:2px solid #0f0f0f;
    border-bottom:2px solid #ff4dda ;
    width: 250px;
    height:30px;
    color:azure;  
}
.submit{
    outline: none;
    width:250px;
    margin :20px ;
    box-shadow: 0 0 10px #ff4dda, 0 0 20px #ff4dda;
}
.submit:hover{
    scale: 1.05;

}
.submit:active{
    scale: 0.95;

}

